# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables (chứa thông tin nhạy cảm)
.env
.flaskenv

# IDEs (VS Code, PyCharm)
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.nosepy
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/